
.main__grid-container {
    display: grid;
    background-color: black;
    width: 100vw;
    height: 100vh;  
    row-gap: 5px;
    column-gap: 5px;
    padding: 1vh;

    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);

    #screen {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    #ac-button {
    }

    #plus-minus-button {
    }

    #percent-button {
    }

    #divide-button {
    }

    #seven {
    }

    #eight {
    }

    #nine {
    }

    #multiply {
    }

    #four {
    }

    #five {
    }

    #six {
    }

    #minus {
    }

    #one {
    }

    #two {
    }

    #three {
    }

    #plus {
    }

    #zero {
        grid-column: span 2;
    }

    #dot {
    }

    #equal {
    }
}