
.main__grid-container {
    display: grid;
    background-color: black;
    width: 100vw;
    height: 100vh;  
    row-gap: 5px;
    column-gap: 5px;
    padding: 1vh;

    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(7, auto);

    #screen {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row: span 2;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        background-color: lightgrey;

        .main__display-history {
            color: gray;
        }
    }

    #ac-button {
        grid-column: span 3;
    }

    #zero {
        grid-column: span 2;
    }
}