.main__grid-container {
    .main__num-button {
        background-color: $dark-gray;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

        &--light{
            background-color: $light-gray;
        }
    }

    .main__operator-button {
        background-color: $orange;

        &--light{
            background-color: $light-gray;
        }
    }

    
}