.main__grid-container {
    .main__num-button {
        background-color: $dark-gray;

        &--light{
            background-color: $light-gray;
        }
    }

    .main__operator-button {
        background-color: $orange;

        &--light{
            background-color: $light-gray;
        }
    }
}