.main__grid-container {
    .main__num-button {
        background-color: grey;
    }

    .main__operator-button {
        background-color: orange;

        &--light{
            background-color: lightgray;
        }
    }
}